/.bundle/
/Gemfile.lock
/*.gem
/pkg/
/coverage/
/tmp/
/test/dummy/log/
/test/dummy/tmp/
/test/dummy/storage/
/test/dummy/db/schema.rb
/gemfiles/*.lock

/docs/.bundle/
/docs/vendor/
/docs/_site/
/docs/.jekyll-cache/
/docs/.sass-cache/
/docs/.jekyll-metadata
